.card-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-size{
    width: 740px;
    height: 400px !important;
    
}

.col-md-4{
    background-color: rgb(52, 44, 109);
    height: 100% !important;
}

.g-0{
    border: solid 2px;
    border-radius: 8px;
}

.row{
    height: 100%;
}

.answer-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}